@import './../styles/stylesheet.scss';

.header{
    text-align: center;
    &__title{
        font-family: $logo;
        font-size: 1.2rem;
        color: $blue;
        margin:0;
        padding:10px;
        display:inline-block;
    } 
    &__subtitle{
        font-family: $logo;
        font-size: 1rem;
        color: $blue;
        margin:0;
        padding: 0;
    }
    &__img{
        width: 70px;
        height: auto;
        padding: 10px;
    } 



}

.body{
    height: 100vh;
    text-align:center;
    font-family: $text;
    font-size: 1rem;
    color: $black;
    padding: 10px;
    
    &__button{
        margin-top: 25px;
        margin-bottom: 40px;
        padding: 8px 30px;
        text-align: center;
        text-decoration: none;
        background-color: $blue;
        border: 0.25vmin solid $blue;
        border-radius: $buttonRadius;
        font-family: $logo;
        font-size: 1rem;
        color: white;
    }
    &__search{
        width: 500px;
    }

}

.grid{
    display: inline-grid;
    gap: 10px;
    padding: 50px;
    height:500px;
    border: 0.25vmin solid $blue;
    overflow:scroll;
    overflow-x:hidden;

    &__genreButton{
        size: 40px 40px;
        text-decoration: none;
        background-color: $blue;
        border: 0.25vmin solid $blue;
        border-radius: $buttonRadius;
        font-family: $logo;
        font-size: 1rem;
        color: white;
        &:hover {
            background: $blue;
            color: white;
        }
    }
}

.card{
    width: 20vw;
    height: 30vh;

    &__img{
        width: 100%;
        height: 100%;  
        object-fit: contain; 
    }
}