@import url('https://fonts.googleapis.com/css2?family=Finlandica&family=Gulzar&display=swap');

//fonts
$logo: 'Gulzar';
$text: 'Finlandica';

//colours
$blue: #4A69F8;
$black:#171212;


//border radius
$borderRadius: 12px;

//button radius
$buttonRadius: 10px;


